# Folders
**/train_img/
**/val_img/
**/__pycache__/
**/.ipynb_checkpoints/
**/.vscode/
**experiments/*
**experiments_classification/*

# Files
/*.jpg
/**/*.txt
/**/*.zip
/**/.DS_Store
/*.ipynb
/poetry.lock